<!DOCTYPE html>
<html lang="ru" data-ng-app="PhonesApp" >
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
  
  <script src="pdfmake/build/pdfmake.min.js"></script>
  <script src="pdfmake/build/vfs_fonts.js"></script>
  <script src="js/main.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
    
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
      
      <ul class="nav navbar-nav navbar-left">
          <li class="navbar-brand" style="color: red; font-size: 24px; padding-left: 0">Phone book <span class="label label-primary">2.0</span></li>
          <li><a href="#" id="show_all_cat">Все отделы</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Выбрать отдел</a>
            <ul class="dropdown-menu" id="cat">
                <li><a href="#">Action</a></li>
            </ul>
          
          </li>
          <li><a href="#" id="pdf_send">Экспорт в PDF</a></li>
          
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="поиск по фамилии..." ng-model="query">
            </div>
            <button type="submit" class="btn btn-default" id="sub_name">Поиск</button>
          </form>
      </ul>
  </div>
</nav>
    
    <br />
    
    <div class="container" style="padding: 0">
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
        <tr>
        <th>{{PhoneData[1].User}}</th>
        <th>Отдел</th>
        <th>E-mail</th>
        <th>Внутренний номер</th>
        <th>Мобильный</th>
        </tr>
        </thead>
        <tbody id="users" ng-controller="PhoneListCtrl">
           
            <tr ng-repeat="tmp in PhoneData | filter:query">
               <td><span class='glyphicon glyphicon-user' aria-hidden='true' ></span> {{tmp.DisplayName}}</td>
                <td><span class='glyphicon glyphicon-briefcase' aria-hidden='true'></span> {{tmp.Dn}}</td>
                <td><span class='glyphicon glyphicon-envelope' aria-hidden='true'></span> {{tmp.Mail}}</td>
                <td><span class='glyphicon glyphicon-earphone' aria-hidden='true'></span> {{tmp.Phone}}</td>
               <td><span class='glyphicon glyphicon-phone' aria-hidden='true'></span>{{tmp.Mobile}}</td>
                </tr>
        
        

 </tbody>
  </table>
</div>
    </div>
</body>
</html>